/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
.content{
    position: absolute;
    width: 100%;
    height: 100%;
}

#map {
    top: 0px;
    left: 0px;
    z-index: 1;
}

#form{
    top: 0px;
    left: 0px;
    z-index: -1;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}